{% load static %}
{% block body %}

{% include 'admin_navigation.html' %}
<marquee style="font-family:'Monotype times of roman'; font-size:25px; color:#00BFFF; background-color:black; margin-top:1%; font-weight:bold">
    View Recruiter Pending
</marquee>
<hr>



<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>Recruiter Name</b></label>
    <input type="text" class="form-control" name="uname"  placeholder="{{data.user.first_name}} {{data.user.last_name}}">

    <label><b>Status</b></label>
    <select class="form-control" name="status">
        <option value="Accept">Accept</option>
         <option value="Reject">Reject</option>
    </select>
    <input type="Submit" class="btn btn-primary" style="margin-top:2% ; font-weight:bold ; height:40px">

</form>

{% ifequal error "no" %}
<script>
    alert("Status Changed Successfully!");
    window.location = ('{% url 'recruiter_pending' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Something Went Wrong Please Try Again...");
</script>
{% endifequal %}
{% endblock %}